@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: hsl(252, 30%, 95%);
    color: hsl(252, 30%, 17%);
    overflow: hidden;
}

.title{
    background-image: linear-gradient(90deg, hsl(130, 82%, 39%) 0%, hsl(0, 97%, 50%) 100%);
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
}

nav{
    width: 100%;
    background-color: hsl(252, 30%, 100%);
    padding: 0.7rem 0;
}

.avatar {
    width: auto;
    height: 80px;
}


nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 2%;
    margin: 0 auto;
}

.search-bar{
    background-color: hsl(252, 30%, 95%);
    border-radius: 2rem;
    padding: 0.6rem 1rem;
}

.search-bar input[type="search"] {
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
}

nav .button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.button img {
    width: 60px;
    height: auto;
    border-radius: 5px;
}


.btn {
    display: inline-block;
    padding: 0.6rem 2rem;
    font-weight: 500;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 300ms ease;
    color: white;
    background-color: #12b52d;
    min-width: 120px;
}

.btn:hover{
    background-color: hsl(130, 83%, 30%);
}

.link{
    color: hsl(130, 82%, 39%);
    cursor: pointer;
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
}

.conteneur_home {
    display: flex;
    padding: -5% 0;
    flex-direction: column;
}

.fond_container {
    background: linear-gradient(to right, #f29263, #ee5a6f);
    margin-left: 10px;
    height: 100%;
    min-height: 30%;
    display: flex;
    width: 80%;
    padding-top: 20px;
    padding-left: 10px;
    border-radius: 20px;
    margin-bottom: 5%;
}

.list_video {
    font-size: 300%;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.ligne-grise {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    height: 5px;
    background-color: gray;
    border-radius: 10px;
}

.size_mini_title {
    font-size: 2rem;
}

.size_mini {
    margin-top: 20px;
    border-radius: 20px;
}

.button_pass_home {
    background-color: black;
    border: none;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    padding-right: 25px;
    margin-top: 1rem;
    color: white;
    width: 150px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
}

.button_pass_home button{
    background: transparent;
    color: white;
}

.button_pass_home:hover {
    background-color: white;
    color: #12b52d;
}

.title_reg {
    display: inline-block;
    font-size: 1.1em;
    padding: 1rem 2rem;
    color: white;
}

.title-reg {
    display: inline-block;
    padding: 0.6rem 1rem;
    background-color: black;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.title-reg:hover {
background-color: white
}

.utilisateur_vidéo {
    font-size: 1.3em;
    font-weight: bold;
}

@media only screen and (max-width: 913px) {
    nav .container {
        flex-direction: column;
        align-items: center;
    }

    .search-bar {
        order: 1;
        margin-top: 1rem;
    }

    .button {
        margin-top: 1rem;
    }

    .size_mini_title {
        font-size: 0.7rem;
    }
}
